<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhon.rain.biz.mapper.HouseUserDOMapper">
    <resultMap id="BaseResultMap" type="com.jhon.rain.common.model.HouseUserDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="house_id" jdbcType="BIGINT" property="houseId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="type" jdbcType="BIT" property="type"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, house_id, user_id, create_time, type
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from house_user
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectHouseUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from house_user
        where house_id = #{house_id}
        and user_id = #{userId} and type = #{type}
    </select>

    <select id="selectSaleHouseUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from house_user
        where house_id = #{houseId} and type = 1
        limit 1
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM house_user
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.jhon.rain.common.model.HouseUserDO">
        INSERT INTO house_user (house_id, user_id,
                                create_time, type)
        VALUES (#{houseId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
                #{createTime,jdbcType=DATE}, #{type,jdbcType=BIT})
    </insert>

    <delete id="deleteHouseUser">
        DELETE FROM house_user
        WHERE house_id = #{id} AND user_id = #{userId} AND type = #{type}
    </delete>

</mapper>